 <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      {% load static %}
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link href="{% static 'css/boot4.3.css'%}" rel="stylesheet">
      <link href="{% static 'css/app.css'%}" rel="stylesheet">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Todo</title>
    </head>

    <body class="grey lighten-2">
    <nav class="grey lighten-3 z-depth-2 container-fluid">
        <div class="nav-wrapper">
        <a href="#!" class="ml-4 brand left  blue-text">Todo</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="">Home</a></li>
            <li><a href="/Todos/add">Todos</a></li>
            <li><a href="">Add Todo</a></li>
        </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="">Sass</a></li>
        <li><a href="">Components</a></li>
        <li><a href="">Add Todo</a></li>
    </ul>
    {% block content_home %}
         
    {% endblock content_home%}
    <!--JavaScript at end of body for optimized loading-->
    <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'js/materialize.min.js'%}"></script>
    <script>
        $(document).ready(function(){
            $('.sidenav').sidenav();
            $('.modal').modal();
        });
    </script>
    </body>
  </html>   